/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v24-latin-regular.woff2") format("woff2"), url("../fonts/lato-v24-latin-regular.woff") format("woff"), url("../fonts/lato-v24-latin-regular.ttf") format("truetype"), url("../fonts/lato-v24-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v24-latin-700.woff2") format("woff2"), url("../fonts/lato-v24-latin-700.woff") format("woff"), url("../fonts/lato-v24-latin-700.ttf") format("truetype"), url("../fonts/lato-v24-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  font-size: 16px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: inherit;
}

.container {
  max-width: 71.25rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 119.4444444444%;
  text-align: center;
  color: #000000;
}

.header {
  background: transparent;
  position: absolute;
  top: 1.0625rem;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 2.1875rem;
}
.header__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.875rem;
}
.header__logo-img {
  width: 1.540625rem;
  height: 1.0875rem;
  margin-right: 0.625rem;
}
.header__logo-text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.header__link {
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2857142857em;
  width: 0;
  height: 0.0714285714em;
  background-color: #FFFFFF;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.header__link:hover::before {
  width: 100%;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
}
.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.header__flag {
  width: 2rem;
  height: 2rem;
}
.header__lang-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__dropdown {
  width: 0.77375rem;
  height: 1.090625rem;
}
.header__btn {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0.0714285714em solid #FFFFFF;
  border-radius: 0.4285714286em;
  padding: 0.8571428571em 2em;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease, color 0.4s ease;
  -o-transition: background-color 0.2s ease, color 0.4s ease;
  transition: background-color 0.2s ease, color 0.4s ease;
}
.header__btn:hover {
  background-color: #FFFFFF;
  color: #D52047;
}

.intro {
  width: 100%;
  height: 48.875rem;
  background: url(../img/intro-bg.jpg) bottom center/cover no-repeat;
  padding-top: 16.0625rem;
}
.intro__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__title {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 119.4444444444%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.5416666667em;
}
.intro__desc {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  max-width: 21.6666666667em;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 1.625em;
}
.intro__btn {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: #D52047;
  padding: 1.2142857143em 3.7142857143em 1.1428571429em;
  background-color: #FFFFFF;
  border: 0.0714285714em solid #FFFFFF;
  border-radius: 0.4285714286em;
  -webkit-transition: background-color 0.2s ease, color 0.4s ease;
  -o-transition: background-color 0.2s ease, color 0.4s ease;
  transition: background-color 0.2s ease, color 0.4s ease;
}
.intro__btn:hover {
  background-color: transparent;
  color: #FFFFFF;
}

.blog {
  background-color: #FFFFFF;
  padding: 5.875rem 0;
}
.blog__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 119.4444444444%;
  margin-bottom: 1.25em;
  color: #000000;
}
.blog__desc {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  max-width: 31.7857142857em;
  margin-bottom: 1.3571428571em;
}
.blog__link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: #EE3D1B;
}
.blog__video-wrap {
  position: relative;
  max-width: 27.8125rem;
  padding: 0 0 19.4375rem 0;
}
.blog__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.9375rem;
}
.blog__open-video {
  position: absolute;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.125rem;
  height: 4.125rem;
  background-color: #D52047;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.blog__video-icon {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transform: translateX(0.125rem);
      -ms-transform: translateX(0.125rem);
          transform: translateX(0.125rem);
}

.features {
  background-color: #FAFAFA;
  padding: 3.9375rem 0 7.75rem 0;
}
.features__title {
  margin-bottom: 1.75em;
}
.features__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.features__item {
  height: 22.1875rem;
  position: relative;
}
.features__wrap-img {
  max-width: 21.875rem;
  padding: 0 0 15.625rem 0;
  position: relative;
}
.features__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}
.features__info {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 18.125rem;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 2.0625rem 2.5rem 1.5625rem;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__info-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  text-align: center;
  color: #000000;
  margin-bottom: 1.1111111111em;
}
.features__info-desc {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: #101010;
  margin-bottom: 2.1666666667em;
}
.features__info-link {
  display: inline-block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 150%;
  color: #EE3D1B;
}

.technology {
  padding-top: 3.9375rem;
  padding-bottom: 6.5rem;
}
.technology__title {
  margin-bottom: 1.4444444444em;
}
.technology__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}
.technology__item {
  width: 15.9375rem;
  height: 16.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem;
}
.technology__item-img {
  margin-bottom: 0.5rem;
}
.technology__item-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  color: #000000;
  margin-bottom: 0.5555555556em;
  text-align: center;
}
.technology__item-desc {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 116.6666666667%;
  color: #000000;
  text-align: center;
}

.saving {
  padding: 5.875rem 0;
  background-color: #ED4C5C;
}
.saving__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.saving__itile {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 119.4444444444%;
  color: #FFFFFF;
  margin-bottom: 0.6666666667em;
  max-width: 12.3611111111em;
}
.saving__desc {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  text-align: justify;
  max-width: 31.7857142857em;
  margin-bottom: 2.8571428571em;
  color: #FFFFFF;
}
.saving__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.saving__link {
  margin-right: 1.4375rem;
}
.slider__wrap {
  width: 33.3125rem;
  height: 19.4375rem;
  position: relative;
}
.slider__item {
  width: 23.9375rem;
  height: 16.6875rem;
}
.slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.9375rem;
}
.slider__item--one {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  z-index: 3;
}
.slider__item--two {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  opacity: 0.5;
}
.slider__item--three {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  opacity: 0.5;
}

.contact {
  padding: 7.3125rem 0 7.6875rem;
}
.contact__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.contact__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 119.4444444444%;
  color: #000000;
  margin-bottom: 1.4722222222em;
  position: relative;
  z-index: 2;
}
.contact__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2.7777777778em;
  height: 2.7777777778em;
  border: 0.0277777778em dashed #4F4F4F;
  -webkit-transform: translate(-4%, -50%);
      -ms-transform: translate(-4%, -50%);
          transform: translate(-4%, -50%);
  z-index: 1;
}
.contact__desc {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  text-align: justify;
  max-width: 31em;
  color: #000000;
}
.form {
  max-width: 33.75rem;
}
.form__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__item-wrap > div {
  width: 15.9375rem;
}
.form__item {
  max-width: 100%;
  margin-bottom: 1.5rem;
}
.form__input {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  width: 100%;
  height: 3.75em;
  border: 0.0625em solid #4F4F4F;
  border-radius: 0.375em;
  color: rgba(19, 39, 67, 0.5);
  padding: 0 1.875em;
}
.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  color: rgba(19, 39, 67, 0.5);
  opacity: 0.2;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  color: rgba(19, 39, 67, 0.5);
  opacity: 0.2;
}
.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  color: rgba(19, 39, 67, 0.5);
  opacity: 0.2;
}
.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  color: rgba(19, 39, 67, 0.5);
  opacity: 0.2;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  color: rgba(19, 39, 67, 0.5);
  opacity: 0.2;
}
.form__button {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #D52047;
  padding: 1.1428571429em 2.4285714286em;
  border: 0.1071428571em solid #D52047;
  border-radius: 0.4285714286em;
  -webkit-transition: background-color 0.2s ease, color 0.4s ease, -webkit-transform 0.4s ease;
  transition: background-color 0.2s ease, color 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: background-color 0.2s ease, color 0.4s ease, transform 0.4s ease;
  transition: background-color 0.2s ease, color 0.4s ease, transform 0.4s ease;
  transition: background-color 0.2s ease, color 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  position: relative;
}
.form__button:hover {
  background-color: #FFFFFF;
  color: #EE3D1B;
  -webkit-transform: translateY(0.1428571429em);
      -ms-transform: translateY(0.1428571429em);
          transform: translateY(0.1428571429em);
}

.select {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  width: 100%;
  height: 3.75em;
  border: 0.0625em solid #4F4F4F;
  border-radius: 0.375em;
  color: rgba(19, 39, 67, 0.5);
  padding: 0 1.875em;
}