@function prc($pxOne, $pxTwo){
	$result: ($pxOne / $pxTwo) * 100%;
	@return $result;
}

@function parts($pxOne, $pxTwo) {
	$result: ($pxOne / $pxTwo);
	@return $result;
}

@function rem($pxOne){
	$result: ($pxOne / 16) + rem;
	@return $result;
}

@function em($pxOne, $pxTwo) {
	$result: ($pxOne / $pxTwo) + em;
	@return $result;
}