// Default fonts
$fontfamily: "Lato";

// Default width container
$minwidth: 320px;

// Default colors
$white: #FFFFFF;
$black: #000000;
$black-light: #101010;
$orange: #EE3D1B;
$rose: #D52047;
$rose-light: #ED4C5C;
$gray: #EDEDED;
$gray2: #4F4F4F;
$gray-light: #FAFAFA;

